@CHARSET "ISO-8859-1";
.fonter{
font-size: 0.8em;

}

.greenLine{
	 background-color:#8ec300;
	 height: 20px;
	 border-radius:5px;
	 color: White;
 } 
 .blueLine{ 
	background-color: #2f4377;
  	height: 20px;
  	border-radius:5px;
   	color:White;
 }
 .fieldset{
    border-radius:10px;
    border-color:blue;
    background-color:#99e6ff;
 }
 .legend{
   padding:5px;
   width: 100%;
   border: black;
   border-radius:5px;
   background-color:#009999;
   color:White;
   font-weight: bolder;
 }
 



@-webkit-keyframes blinker { /* related to #logC */
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
a:link  {color:black; }
a:visited {color:blue; background-color:transparent; text-decoration:none}
a:hover {color:red; background-color:transparent; text-decoration:underline}
a:active  {color:green; background-color:transparent; text-decoration:underline}
a.top img{
  vertical-align:     middle;
  transition:         opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}
a.top:hover img{
  opacity:            0.5;
}

body{
   background-color: #FFFFFF;
  font-family: "Calibri";
 }
 
 
TR
{ 
font-style:normal; 
/* text-align:center;  */
} 
.tdColor{
	bordercolor :black;
	style :border-style: solid; 
	border-color:#2F4F4F;
	}

button, input[type="button"], input[type="submit"], input[type="reset"] {
   border-top: 1px solid #98a2a8;
   background: grey;
   background: -webkit-gradient(linear, left top, left bottom, from(#d2d4d6), to(#767a7d));
   background: -webkit-linear-gradient(top, #d2d4d6, #767a7d);
   background: -moz-linear-gradient(top, #d2d4d6, #767a7d);
   background: -ms-linear-gradient(top, #d2d4d6, #767a7d);
   background: -o-linear-gradient(top, #d2d4d6, #767a7d);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: blue;
   font-size: 10px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
button:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
button:active, input[type="button"]:active, input[type="submit"]:active , input[type="reset"]:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }


.logC{text-decoration:blink;
    -webkit-animation-name: blinker;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}
span.red-tag {
    color: red;
    font-weight: bold;
}